body {
    background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
    background-size: cover;
    background-position: top; /* Ajustez la position */
    margin: 0;
    padding: 0;
    height: 100vh; /* Utilisation de 100vh pour garantir que le fond couvre toute la hauteur de la fenêtre */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: white;
}

#clock {
    font-size: 6em;
    font-family: 'Orbitron', sans-serif; 
    margin-top: 20px; /* Ajoute une marge au-dessus de l'horloge */
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7289DA;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 10px;
    border-radius: 5px;
}

.button:hover {
    background-color: #4E5D94;
}

